.navLog{
    font-size: 14px;
    margin-top: 46px;
    display: flex;
    justify-content: flex-end;

    .navLog_link{
        width: auto;
        color: $color-grey;
        margin-left: 20px;
        padding: 10px;

        &:hover{
            border: 0.75px solid $color-orange;
            padding: 9px;
        }
    }

    .nav_email{
        color: $color-grey;
        margin-left: 20px;
        padding: 10px;

    }
}