.container_sign{
    color: $color-darkgrey;

    .containerNav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 70px;
    }

    .sign_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 123px;

        .sign_title{
            font-size: 40px;
            margin-bottom: 31px;
        }

        .decoration{
            margin-bottom: 67px;
        }

        .sign_box-input{
            width: 384px;
            height: auto;
            background-color: $color-lightgrey;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .sign_container{
                margin-top: 40px;
                margin-bottom: 40px;

                .sign_text{
                font-size: 16px;
                display: flex;
                flex-direction: column;
                margin-bottom: 31px;

                    .sign_input{
                        width: 250px;
                        height: 40px;
                        border: none;
                        border-bottom: 1px solid #707070;
                        background-color: $color-lightgrey;
                    }
                }
            }
            
        }

        .sign_buttons{
            margin-top: 30px;
            font-size: 18px;
            
            .button_signup{
                padding: 10px;
                color: #000000;

                &:hover{
                    border: 0.75px solid $color-darkgrey;
                    padding: 9px;
                }
            }

            .button_signin{
                padding: 10px;
                font-size: 18px;
                color: #000000;

                &:hover{
                    border: 0.75px solid $color-darkgrey;
                    padding: 9px;
                }
            }
        }
    }
}
