.step2_title{
    font-size: 36px;
    margin-bottom: 57px;
}

.step2_text{
    font-size: 24px;
    font-weight: 300;

    .step2_select{
        width: 300px;
        height: 49px;
        margin-left: 26px;
        margin-bottom: 360px;
        font-size: 24px;
    }
}